
.App-header {
  background-color: black;
  /* height: 100px; */
  padding: 20px;
  color: white;
  font-size: calc(20px + 2vmin);
  /* text-align: center; */
  text-shadow: 3px 2px red;
}

.App-title {
  font-size: 1.5em;
}

.cardImg {
width: 35px;
height: 80px;
}

.beerdetailimg {
  width: 30%;
height: 80%;

}

.card{
  padding: 20px;
}

.navi {
  list-style: none;
  padding: 10px 10px;
}

.menuImg {
  width: 100%;
  padding: 15px 15px ;
}

.form{
  padding: 20px;
}